{% extends 'gsmapp/adminpanel/admin_base.html' %}
{% block title %} Admin Dashboard | GSM Riders {% endblock %}
{% load static %}
{% block content %}


<div class="col-xl-4 col-lg-4 order-lg-2 order-xl-1"> 
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-widget14">
            <a href="/gsm/admin/add-new-product/">
                <div class="kt-widget14__header">
                    <h3 class="kt-widget14__title"> Add New Product </h3>
                    <span class="kt-widget14__desc"> Add New Product </span>
                </div>
            </a>    
        </div>
    </div> 
</div>

<div class="col-xl-4 col-lg-4 order-lg-2 order-xl-1"> 
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-widget14">
            <a href="/gsm/admin/product-list/">
                <div class="kt-widget14__header">
                    <h3 class="kt-widget14__title"> Product List </h3>
                    <span class="kt-widget14__desc"> All Products </span>
                </div>
            </a>    
        </div>
    </div> 
</div>
 

<div class="col-xl-4 col-lg-4 order-lg-2 order-xl-1"> 
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-widget14">
            <a href="/gsm/admin/latest-device-list/">
                <div class="kt-widget14__header">
                    <h3 class="kt-widget14__title"> Latest Product </h3>
                    <span class="kt-widget14__desc"> Latest Product </span>
                </div>
            </a>    
        </div>
    </div> 
</div>
 

<div class="col-xl-4 col-lg-4 order-lg-2 order-xl-1"> 
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-widget14">
            <a href="/gsm/admin/add-new-blog-post/">
                <div class="kt-widget14__header">
                    <h3 class="kt-widget14__title"> Add Blog Post </h3>
                    <span class="kt-widget14__desc"> Add Blog Post </span>
                </div>
            </a>    
        </div>
    </div> 
</div>
 

<div class="col-xl-4 col-lg-4 order-lg-2 order-xl-1"> 
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-widget14">
            <a href="/gsm/admin/blog-post-list/">
                <div class="kt-widget14__header">
                    <h3 class="kt-widget14__title"> Blog Post List </h3>
                    <span class="kt-widget14__desc"> Blog Post List </span>
                </div>
            </a>    
        </div>
    </div> 
</div>

<div class="col-xl-4 col-lg-4 order-lg-2 order-xl-1"> 
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-widget14">
            <a href="/gsm/admin/latest-news-list/">
                <div class="kt-widget14__header">
                    <h3 class="kt-widget14__title"> Latest News </h3>
                    <span class="kt-widget14__desc"> Latest News </span>
                </div>
            </a>    
        </div>
    </div> 
</div>

<div class="col-xl-4 col-lg-4 order-lg-2 order-xl-1"> 
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-widget14">
            <a href="/gsm/admin/add-category/">
                <div class="kt-widget14__header">
                    <h3 class="kt-widget14__title"> Add Category </h3>
                    <span class="kt-widget14__desc"> Add Category </span>
                </div>
            </a>    
        </div>
    </div> 
</div>

<div class="col-xl-4 col-lg-4 order-lg-2 order-xl-1"> 
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-widget14">
            <a href="/gsm/admin/category-list/">
                <div class="kt-widget14__header">
                    <h3 class="kt-widget14__title"> Category List</h3>
                    <span class="kt-widget14__desc">Category List</span>
                </div>
            </a>    
        </div>
    </div> 
</div>

<div class="col-xl-4 col-lg-4 order-lg-2 order-xl-1"> 
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-widget14">
            <a href="/gsm/admin/add-brand/">
                <div class="kt-widget14__header">
                    <h3 class="kt-widget14__title">Add Brand</h3>
                    <span class="kt-widget14__desc">Add Brand</span>
                </div>
            </a>    
        </div>
    </div> 
</div>

<div class="col-xl-4 col-lg-4 order-lg-2 order-xl-1"> 
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-widget14">
            <a href="/gsm/admin/brand-list/">
                <div class="kt-widget14__header">
                    <h3 class="kt-widget14__title">Brand List</h3>
                    <span class="kt-widget14__desc">Brand List</span>
                </div>
            </a>    
        </div>
    </div> 
</div>


<div class="col-xl-4 col-lg-4 order-lg-2 order-xl-1"> 
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-widget14">
            <a href="/gsm/admin/slider-list/">
                <div class="kt-widget14__header">
                    <h3 class="kt-widget14__title">Slider List</h3>
                    <span class="kt-widget14__desc">Slider List</span>
                </div>
            </a>    
        </div>
    </div> 
</div>
 


{% endblock %}