{% extends 'gsmapp/adminpanel/admin_base.html' %}
{% block title %} Latest Device List| GSM Riders {% endblock %}
{% load static %}
{% block content %}
 

<div class="kt-portlet">
    <div class="kt-portlet__body">

        <div class="kt-widget kt-widget--user-profile-3">
            <table class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center">SL</th>
                        <th>Product Name</th> 
                        <th>Brand Name</th> 
                        <th>Image</th> 
                        <th>Added Date</th> 
                        <th>Status</th> 
                        <th class="text-center">Action</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for data in get_product_list %}
                        <tr>
                            <td class="text-center"> {{ forloop.counter }}</td>
                            <td> {{ data.product_name }} </td>
                            <td> {{ data.brand_name }} </td>
                            <td> <img {% if data.product_img %} src="/static/gsmapp/images/{{ data.product_img }}" {% else %} src="/static/gsmapp/images/default.png" {% endif %} style="height:40px;"> </td>
                            <td> {{ data.added_date }}</td>
                            <td> {% if data.status %} Active {% else %} <span style="color:red">Inactive</span>{% endif %} </td> 
                            <td class="text-center action-btn">
                                    <span><a class="kt-font-primary" href="/gsm/{{data.pk}}/edit-product/"> <i class="fas fa-edit"></i> </a></span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
</div>

{% endblock %}