{% extends 'gsmapp/pages/base.html' %}
{% block title %} Brand | GSM Riders {% endblock %}
{% load static %}
{% load custom_tags %}
{% block content %}
<div class="faq-wrapper">
    <div class="faq-title">
        <h3>Frequently Asked Questions</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="st-text">

                <p>
                    <iframe width="100%" height="400" src="https://www.youtube.com/embed/Ti3hbIGFO28" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </p>

                <p><span class="faq-ques">Q :
                        Do you sell phones or tablets?</span>
                    <br>
                    <br> A : A resounding NO. GSMRiders.com has as its primary task to provide detailed and accurate
                    information about mobile phones and their features. While browsing GSMRiders.com, you may come
                    across links to online stores that sell phones and other electronics, but those are external
                    entities and GSMRiders.com is not affiliated with them. GSMRiders.com <b>DOES NOT</b> sell phones or
                    anything else and we do not endorse any particular store.</p>

                <p><span class="faq-ques">Q :
                        Can I send you my phone for repairs or upgrades?</span>
                    <br>
                    <br> A : No, we do not upgrade or repair phones/tablets. We merely provide information about mobile
                    phones.</p>

                <p><span class="faq-ques">Q :
                        Why do you insist on using a Facebook or Google+ account for logging to your comment
                        system?</span>
                    <br>
                    <br> A : Using a Facebook/Google+ login is not mandatory to post a comment on our site. Simply type
                    in your desired text and click on the 'Submit' button. Your comment should show up as soon as it has
                    passed through our moderation system.
                    <br>
                    <br> Alternatively, if you don't have either Facebook or Google+ account and/or you are concerned
                    about your privacy, you can create a blank account to use.
                    <br>
                    <br> Facebook/Google+ integration has been implemented into our site to make it easy for you to
                    enjoy the additional features a dedicated login system can provide, such as one-click login, without
                    us having to store any of your identifiable information on our end. For more info on the benefits of
                    logging in, check out <a href="https://www.GSMRiders.com/whyregister.php3">this</a> page. </p>

                <p><span class="faq-ques">Q :
                        Why can't I filter by category X in your Phone Finder?</span>
                    <br>
                    <br> A : Mobile technology has advanced in leaps and bounds since the inception of our site,
                    particularly in recent years with the advent of smartphones. Many upcoming flagships strive to offer
                    the latest and greatest to capture consumer interest, each outdoing the other with the latest tech
                    wizardry ranging from higher quality displays and processing cores all the way to thickness and
                    connectivity features.
                    <br>
                    <br> With the vast quantity of new cutting-edge technology being stuffed into handsets and tablets -
                    not to mention improved software capabilities - it is nearly impossible to offer filtering by each
                    of the latest features into distinct categories.
                    <br> Make note you can search for pretty much all features by using the 'Free text' field located at
                    the bottom of our <a href="search.php3">Phone Finder</a>. Just type in your keyword and the Phone
                    finder will show you the most popular phones containing it, in addition to any other filters you may
                    have selected.
                </p>

                <p><span class="faq-ques">Q :
                        There are some terms missing from your glossary.</span>
                    <br>
                    <br> A : Feel free to let us know about any mobile terms you feel could be added to our glossary.
                    We, as well as other users like yourself who might not be familiar with the term, will thank you.
                    You can also let us know about any glossary terms that are incorrect or could be updated. The best
                    way to do this is by using our support email found on the <a href="contact.php3">Contact us</a>
                    page. </p>

                <p><span class="faq-ques">Q :
                        How can I find out if a particular device will work in my country?</span>
                    <br>
                    <br> A : You can use our comprehensive <a href="network-bands.php3">Coverage guide</a>, accessed
                    from the top of our site. Once you find out which bands operate in your country, you can
                    cross-reference them with the bands listed at the top of your chosen device's specification page.
                </p>

                <p><span class="faq-ques">Q :
                        I see that a phone has a very good rating, but it is not listed in the Top 5 on the front page.
                        Why?</span>
                    <br>
                    <br> A : Only the phones listed as 'Available' and with more than 1000 votes are considered for
                    inclusion on the Top 5 Phones list.</p>

                <p><span class="faq-ques">Q :
                        I am sure that the information in your catalog for a particular device is not correct. Why is
                        that so?</span>
                    <br>
                    <br> A : We gather our information mainly from the web sites of manufacturers. Some of them provide
                    very detailed information, others not so much. In the latter case, we sometimes have to resort to
                    other sources which are not as reliable. These include other catalogs, message boards and online
                    stores. If you think that there is incorrect data in the catalog for your phone, please
                    <script>
                        document.write("<a href=\"mailto:suppor" + "t@gsmaren" + "a.com" + "\">")
                    </script><a href="mailto:support@GSMRiders.com">send us an email</a> with the
                    correct data, as well as where you found it, if possible. We thank you in advance.</p>

                <p><span class="faq-ques">Q :
                        I like phone X very much. Where can I buy it? I was searching in different stores and no one has
                        even heard about it. Is your information bogus?</span>
                    <br>
                    <br> A : Make sure to check whether your device is listed as 'Announced' in our specifications. It's
                    important to keep in mind that some of the models in our catalog are announced by manufacturers, but
                    are not yet launched on the market, while others we have classified as rumored through other
                    sources.
                    <br>
                    <br> Manufacturers will sometimes give vague release timeframes for devices, and more often than not
                    will end up not sticking to them at all. This makes it very difficult, if not impossible, to
                    determine the exact release dates of devices very far into the future. Rest assured, however, that
                    once news surfaces about your particular device, its status will be updated accordingly.
                </p>

            </div>
        </div>
    </div>
</div>

{% endblock %}