{% extends 'gsmapp/pages/base.html' %}
{% block title %} Brand | GSM Riders {% endblock %}
{% load static %}
{% load custom_tags %}
{% block content %}

<div class="privacy-policy">
    <div class="row">
        <div class="col-md-12">
            <h3 class="policy-title">Privacy Policy</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="privacy-body clearfix">
                <div>
                    <h3>GSM Riders Privacy Policy and Cookie Statement</h3>
                    <p><b>Last Updated:</b> March 10, 2020</p>
                    <p>We updated our privacy policy to include additional information required under applicable data
                        protection regulations - including the European Union's General Data Protection Regulation
                        (GDPR) - including the following:</p>

                    <ul class="article-blurb">
                        <li>Why we process personal data
                        </li>
                        <li>Legal grounds for processing personal data
                        </li>
                        <li>European Union user rights under the GDPR and how to exercise them
                        </li>
                    </ul>


                    <hr>


                    <h3>Privacy Policy</h3>

                    <p>Your privacy is of the utmost importance to us here at GSM Riders. We collect and retain the
                        minimum personal data needed so we can deliver the best possible experience to you.</p>

                    <p>Submission of personal information is not required to browse GSM Riders.com. Furthermore, we
                        discourage disclosure of any of your personal addresses, emails or phone numbers when
                        interacting with our readers in the comments and opinion sections of GSM Riders.com.</p>

                    <p>The purpose of our Privacy Policy is to detail what personal data we obtain, how we obtain it and
                        why. Also, it describes your rights and the options we provide for you to access, update or
                        otherwise take control of your personal data that we retain and process.</p>

                    <p>To jump to a specific section of this Privacy Policy, please click on a link below:</p>

                    <p style="border:1px; border-style:solid; border-color:#08c; padding: 1em">
                        <b>Jump to</b><br>
                        <a href="#cat">Categories of Personal Data processes by GSM Riders</a><br>
                        <a href="#auto">Automatically collected information</a><br>
                        <a href="#cookies">Cookies and similar technologies</a><br>
                        <a href="#third">Third parties</a><br>
                        <a href="#public">Public Information</a><br>
                        <a href="#children">Children</a><br>
                        <a href="#datasec">Data Security</a><br>
                        <a href="#retention">Retention of Personal Data</a><br>
                        <a href="#access">Accessing and modifying your personal information</a><br>
                        <a href="#transfer">Transfers of Personal Data</a><br>
                        <a href="#rights">Your Rights</a><br>
                        <a href="#updates">Updates to our Privacy Policy</a><br>
                        <a href="#cookiestatement">Cookie Statement</a><br>
                    </p>

                    <h3 id="cat">Categories of Personal Data Collected by GSM Riders</h3>
                    <p>Purposes and legal grounds</p>
                    <p><b>Personal Data that is processed when you create a GSM Riders account:</b></p>
                    <p>To create an account with GSM Riders, you provide your <i>email address</i>, <i>nickname</i>, and
                        a chosen <i>password</i>.</p>
                    <p><b>(1)</b> GSM Riders processes your <i>email address</i> and your chosen <i>password</i> when
                        you sign in to your GSM Riders account. The legal ground for GSM Riders to process and retain
                        your <i>email address</i> and <i>password</i> is to ensure the security of your GSM Riders
                        account.</p>

                    <p>We do not send promotional emails. However, we may send you service-related emails to the account
                        provided. If you no longer wish to receive these emails, you may opt out of them by deleting
                        your GSM Riders account.</p>

                    <p><b>(2)</b> GSM Riders processes your <i>nickname</i> when you post comments and opinions. The
                        legal ground for GSM Riders to process and retain your <i>nickname</i> is to provide you the
                        facility to engage with other GSM Riders users. Your <i>nickname</i> will be removed from ALL
                        your previous posts when you delete your GSM Riders account rendering them anonymous. Your
                        comments, including your <i>nickname</i>, may still be searchable in search engines due to the
                        nature of caching and may be visible for a period following the right to erasure.</p>

                    <p><b>Personal Data that is processed when you modify your GSM Riders account:</b></p>

                    <p><b>(1)</b> GSM Riders processes your optionally provided <i>Gravatar email address</i> when you
                        post comments and opinions. The legal ground for GSM Riders to process and retain your
                        <i>Gravatar email address</i> is to provide you the facility to personalize your posts when
                        engaging with other GSM Riders users. Your avatar will be removed from ALL your previous posts
                        when you delete your GSM Riders account rendering them anonymous.</p>

                    <p><b>Additional Personal Data that is processed when you post Comments or Opinions:</b></p>

                    <p><b>(1)</b> GSM Riders processes your <i>IP address</i> when you post comments and opinions. The
                        legal ground for GSM Riders to process and retain your <i>IP address</i> is to provide moderated
                        comments and opinions forums devoid of abusive or "spam"-like behavior.</p>

                    <p><b>Personal Data that is processed when you communicate with our support representatives:</b></p>

                    <p><b>(1</b>) GSM Riders processes your <i>email address</i> when interacting with our support
                        representatives. The legal ground for GSM Riders to process and retain your <i>email address</i>
                        is to provide a seamless and high-quality support experience.</p>


                    <hr>


                    <h3 id="auto">Automatically collected information</h3>

                    <p>When you visit GSM Riders.com, we may automatically record certain information from the User's or
                        Visitor's device by using various types of technology, including cookies, "clear gifs" or "web
                        beacons". This "automatically collected" information may include IP address or other device
                        address or ID, web browser and/or device type, the web pages or sites visited just before or
                        just after visiting GSM Riders.com, the pages or other content the User or Visitor views or
                        interacts with on GSMArenea.com, and the dates and times of the visit, access, or use of GSM
                        Riders.com.</p>

                    <p>We use this information to improve your experience with GSM Riders.com. Furthermore, we use this
                        information to promote safety and security, by monitoring suspicious activity or violations of
                        our terms and policies. Such processing is based on our legitimate interest in helping ensure
                        the safety of our services.</p>

                    <p>If you would like to learn more about what options you have about limiting the gathering of
                        information by third-party ad networks, you can consult the website of the <a href="#"
                            target="_blank">Network Advertising Initiative</a>.</p>


                    <hr>



                    <h3 id="cookies">Cookies and similar technologies</h3>

                    <p>In compliance with the European Union legislation, we inform you that our website GSM Riders.com
                        uses cookies and similar technologies to store some information about your preferences how the
                        website looks and operates. We never store any personal data in our cookies.</p>

                    <p>You can remove or reject cookies using your browser or device's settings. If you do this,
                        however, you may have to manually adjust some preferences every time you visit GSMArenea.com,
                        and some services and features may not work.</p>

                    <p>Please read our <a href="#cookiestatement">Cookie Statement</a> to learn more about how we use
                        cookies and the options you have.</p>

                    <hr>

                    <h3 id="third">Third parties</h3>

                    <p><b>(1)</b> Google: Google Analytics helps us analyze how visitors use GSM Riders.com. It counts
                        the number of visitors and tells us things about their overall behavior - such as the typical
                        length of stay on the site or the average number of pages a user views. Information collected
                        via Google Analytics is aggregated anonymously and contains no personal data. To learn more
                        about Google Analytics Privacy and how to opt-out of having your data used by Google Analytics
                        <a href="#" target="_blank">click here</a>.</p>

                    <p><b>(2)</b> Third party websites, products &amp; services: GSM Riders.com may contain links to or
                        the ability for you to access third-party websites, products and services. We are not
                        responsible for the privacy practices undertaken by those third parties, nor are we responsible
                        for the information or content their products and services contain. This Privacy Policy applies
                        solely to information collected by GSM Riders.com. We recommend that you read the privacy
                        policies of any third parties before using their websites, products or services.</p>

                    <hr>



                    <h3 id="public">Public Information</h3>

                    <p><b>(1)</b> Posts made within the Comments &amp; Opinions sections are public including your GSM
                        Riders nickname and your avatar. When another GSM Riders user selects your nickname within
                        Comments and Opinions, they can also view your Favorite phones and your recent posts. Your
                        nickname and avatar will be removed from ALL your previous posts when you delete your GSM Riders
                        account rendering them anonymous. Additionally, your list of Favorite phones will also be
                        deleted.</p>


                    <hr>




                    <h3 id="children">Children</h3>

                    <p>Submission of personal information is not required to browse GSM Riders.com anonymously.</p>

                    <p>To create an account with GSM Riders, individuals must be 16 years of age or older. If we
                        discover that we have collected the personal data from a child under the age of 16, we will take
                        steps to delete the information as soon as possible. If you know of or have reason to believe
                        anyone under the age of 16 has provided us with any personal data, please contact us.</p>

                    <hr>

                    <h3 id="datasec">Data Security</h3>

                    <p>GSM Riders.com stores all website data within the European Union, furthermore all personal
                        information and backups are encrypted.</p>

                    <p>GSM Riders.com follows accepted industry standards to protect the information submitted to us,
                        both during transmission and once we receive it. GSM Riders.com maintains appropriate
                        administrative, technical and physical safeguards to protect Personal Data against accidental or
                        unlawful destruction, accidental loss, unauthorized alteration, unauthorized disclosure or
                        access, misuse, and any other unlawful form of processing of the Personal Data in our
                        possession. This includes, for example, firewalls, password protection and other access and
                        authentication controls. We use SSL technology to encrypt data during transmission through
                        public internet, and we also employ application-layer security features to further anonymize
                        Personal Data.</p>

                    <p>However, no method of transmission over the Internet, or method of electronic storage, is 100%
                        secure. GSM Riders.com cannot ensure or warrant the security of any information you transmit to
                        us or store on the Service, and you do so at your own risk. GSM Riders.com also cannot guarantee
                        that such information may not be accessed, disclosed, altered, or destroyed by breach of any of
                        our physical, technical, or managerial safeguards. If you believe your Personal Data has been
                        compromised, please contact us immediately.</p>

                    <p>If GSM Riders.com learns of a security systems breach, we will inform you and the authorities of
                        the occurrence of the breach in accordance with applicable laws.</p>

                    <hr>

                    <h3 id="retention">Retention of Personal Data</h3>

                    <p>During the creation of a GSM Riders account, your email address, nickname, and password will only
                        be retained if you respond within 1 hour to the confirmation email sent to the email address
                        provided during registration. If no response is received after 1 hour, your email address,
                        nickname, and password will be permanently deleted from our systems.</p>

                    <p>We will retain your personal data for as long as we consider your GSM Riders account to be
                        active. Also, see below under "Your Rights" for a description of your right of erasure.</p>

                    <p>In the case of our web server logs, any personal information will be deleted after 24 hours.</p>

                    <hr>

                    <h3 id="access">Accessing and Modifying Your Personal Information</h3>

                    <p>If you've created an account with GSM Riders you can access and modify your personal information
                        and preferences by visiting your user account. </p>

                    <hr>



                    <h3 id="transfer">Transfers of Personal Data</h3>

                    <p>We do not sell our users' private personal data.</p>

                    <p>We only share information about you in the limited circumstances detailed below with appropriate
                        safeguards on your privacy:</p>

                    <p><b>(1)</b> As required by law: We may have to disclose information about you in response to a
                        court order or other governmental requests.</p>

                    <p><b>(2)</b> Business transfers: In connection with any merger, sale of company assets, or
                        acquisition of all or a portion of our business by another company, or in the unlikely event
                        that GSM Riders goes out of business or enters bankruptcy. If any of these events are realized
                        this Privacy Policy continues to apply to your personal data, the party receiving your personal
                        data may continue to use your personal data but only consistent with this Privacy Policy.</p>


                    <hr>



                    <h3 id="rights">Your Rights</h3>

                    <p>If you reside in the European Union, under the General Data Protection Regulation, you have the
                        right to:</p>

                    <ul class="article-blurb">
                        <li>Access, correct or delete your personal information that we have collected
                        </li>
                        <li>Receive your personal information in a structured and standard machine readable format
                        </li>
                        <li>Object to, and restrict, the further processing of your personal information
                        </li>
                        <li>Lodge a complaint with a supervisory authority
                        </li>
                    </ul>


                    <p>To gain access to, correct, restrict, suspend processing or erasure of your personal data, or to
                        delete your GSM Riders user account, visit your user account.</p>

                    <p>If you live in the European Union and you wish to exercise your right to the restriction of
                        processing or your right to object to processing, contact Arena Kom OOD, by email at <a
                            href="#">support@GSM Riders.com</a>.</p>



                    <hr>



                    <h3 id="updates">Updates to our Privacy Policy</h3>

                    <p>Our Privacy Policy will be updated as we add new features to GSM Riders.com and as new
                        technologies are introduced. Also, revisions to the law will also warrant changes to our Privacy
                        Policy.</p>

                    <p>When significant changes are undertaken, or if we are required by law, we will provide notice of
                        the changes on GSM Riders.com.</p>

                    <p>The date that our Privacy Policy was updated can be found at the top of this page.</p>


                    <hr>



                    <h3 id="cookiestatement">Cookie Statement</h3>

                    <p><b>Last Updated:</b> May 24, 2018</p>

                    <p>In compliance with the European Union legislation, we inform you that our website GSM Riders.com
                        will store some information about your preferences inside a tiny text file called a 'cookie'.
                    </p>

                    <p>A cookie is a small piece of data, which a website asks your browser to store on your computer or
                        mobile device. The cookie allows the website to "remember" your actions or preferences over
                        time.</p>

                    <p>You can delete all cookies that are already on your computer, and you can set most browsers to
                        prevent them from being saved. If you do this, however, you may have to manually adjust some
                        preferences every time you visit a site, and some services and functionality may not work.</p>

                    <p>GSM Riders.com uses cookies to:</p>

                    <ul class="article-blurb">
                        <li>Identify you as a returning user and to count your visits in our traffic statistics analysis
                        </li>
                        <li>Remember you display preferences
                        </li>
                        <li>Remembers the last 5 phones/devices that you searched for in our search field
                        </li>
                        <li>Additional usability features including the state of the GSM Riders sub-menu and whether
                            you've already given your consent to use cookies
                        </li>
                    </ul>

                    <p>Enabling cookies from GSM Riders.com is not strictly necessary for the website to work, but it
                        will provide you with a better browsing experience.</p>

                    <p>The cookie-related information is not used to identify you personally, and the content is fully
                        under our control. These cookies are not used for any purpose other than those described here.
                    </p>

                    <h3>Third Party Cookies</h3>

                    <p>There may also be other types of cookies created after you've visited our website.</p>

                    <p>We use Google Analytics, a popular web analytics service provided by Google, Inc. Google
                        Analytics uses cookies to help us to analyze how users use the site. It counts the number of
                        visitors and tells us things about their behavior overall - such as the typical length of stay
                        on the site or the average number of pages a user views.</p>

                    <p>The information generated by the cookie about your use of our website (including your IP address)
                        will be transmitted to and stored by Google on servers in the United States. Google will use
                        this information for the purpose of evaluating your use of our website, compiling reports on
                        website activity and providing other services relating to website activity and internet usage.
                    </p>

                    <p>Google may also transfer this information to third parties where required to do so by law, or
                        where such third parties process the information on Google's behalf. Google undertakes not to
                        associate your IP address with any other data held by Google.</p>

                    <h3>Third Party Ad Servers</h3>

                    <p>We may have third-party advertising companies serving ads to you when you visit our website.
                        These companies may store information about your visits to our website and to other websites to
                        provide you with relevant advertisements about goods and services.</p>

                    <p>These companies may employ cookies and other identifiers to measure advertising effectiveness.
                        The information is generally not personally identifiable unless, for example, you provide
                        personally identifiable information to them through an ad or an e-mail message.</p>

                    <p>If you would like to learn more about what options you have about limiting the gathering of
                        information by third-party ad networks, you can consult the website of the Network Advertising
                        Initiative.</p>

                    <p>You can opt out of participating in interest-based advertising networks but opting out does not
                        mean you will no longer receive online advertising. It just means that the companies from which
                        you opted out will no longer customize ads based on your interests and web usage patterns using
                        cookie-based technology.</p>

                    <h3>Controlling and opting out of cookies</h3>

                    <p>Your browser or device may offer settings that allow you to choose whether browser cookies are
                        set and to delete them. For more information about these controls and to exercise your cookie
                        preferences, visit your browser or device's help material. If you choose to reject cookies, as
                        noted above, you may not be able to use certain features of our websites and services.</p>

                    <p>A third-party website called <a href="#">aboutcookies.org</a> has been setup to help you with
                        instructions how you can do that on various browsers.</p>

                    <h3>Do Not Track</h3>

                    <p>Some browsers include the ability to transmit "Do Not Track" signals. We do not process or
                        respond to "Do Not Track" signals. Instead, we adhere to the standards described in our Privacy
                        Statement and this Cookie Statement.</p>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}