{% extends 'gsmapp/pages/base.html' %}
{% block title %} Brand | GSM Riders {% endblock %}
{% load static %}
{% load custom_tags %}
{% block content %}
<div class="terms-conditions-wrapper">
    <div class="terms-title">
        <h3>Terms and Conditions</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="st-text">
                <p>Please check GSMriders for the following terms and conditions related to this website. By downloading, utilizing or copying content from this website you can consent to comply by these terms and conditions and to be bound by them. </p>

                <p class="p-heading">COPYRIGHT INFORMATION: </p>

                <p>Any business and product names on this website may be actual company trademarks or licensed trademarks, which are accordingly recognised.</p>

                <p class="p-heading">USE OF WEBSITE INFORMATION:</p>

                <p>From this website, you can import, view, copy and print documents and graphics included in these documents, subject to: (1) The records can be used for private, informative and non-commercial usage only, (2) the records are no form to be modified or changed, without GSMRiders.com’s prior written permission you can not use, import, upload, archive, print, execute, replicate, write, authorize, broadcast, transfer or distribute any information from this website.
                </p>

                <p class="p-heading">LINKS TO THIRD PARTY SITES:</p>

                <p>This website may contain hyperlinks to websites operated by third- parties. GSMRiders is not liable for the contents or usage of such pages, and does not support them.</p>

                <p class="p-heading">AFFILIATE LINKS:</p>

                <p>GSMRiders product search engine offers only for price comparison purposes connections to online retailers. But GSMRiders can obtain a referral commission on any eligible transactions you make when you use such links as associates to Amazon and the other related stores. Participating in partner services GSMRiders is entirely outside of the editorial product selection process and our editors will not profit from taking up exclusive offers. </p>

                <p class="p-heading">COMPENSATION: </p>

                <p>You accept to protect and keep GSMRiders, its members, administrators, shareholders, representatives and staff safe against any claim or query, including fair legal fees, paid by any third party owing to or resulting from the usage of the message boards on the website of GSMRiders, in violation of these terms and conditions or violation of any intellectual property or other privileges of another individual or organization by you, or any other member of the message boards using your device. GSMRiders retains the right to exercise the sole protection and regulation over any matter liable to consideration from you, at its own cost.</p>

                <p class="p-heading">DISCLAIMERS:</p>

                <p>GSMRIDERS RESERVES THE RIGHT TO MAKE CHANGES OR UPDATES TO THIS WEB SITE AT ANY TIME WITHOUT ANY PRIOR NOTICE. </p>

            </div>
        </div>
    </div>
</div>

{% endblock %}